@import "./common/planet.css";
@import "./common/detail.css";
@import "./common/skeleton.css";
@import "./common/footer.css";
@import "./common/header.css";
@import "./common/search.css";
@import "./layouts/planetList.css";

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
