.skeleton {
  margin-bottom: 5px;
}

.loadingPlanet {
  display: flex;
  flex-direction: column;
}

.loadingDetail {
  display: flex;
  justify-content: center;
}

.loadingDetail2 {
  display: flex;
  flex-direction: column;
}
