.planetList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
}

@media (max-width: 768px) {
  .planetList {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
